*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
}
.category-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}
.category-item {
    width: 32%;
    text-align: left;
}
.category-item img{
    width: 100%;
  display: block;
}
.category-add-category{
    width: 83%;
    padding:0 15px 30px;
    text-align: right;
    
}
.right-container{
    display: flex;
    gap: 10%;

}
.add-category{
    margin: 10px 0 20px;
}
.home-container {
    display: flex;
    justify-content: space-between;
}
.sidebar-cont{
    width: 15%;
}
.nav-bar img {
    width: 15%;
}
.nav-bar button,.home-container button {
    background: #fbb413;
    outline: none;
    border: none;
    padding: 6px;
    font-size: 15px;
    font-family: sans-serif;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
}
.category-list img{
    margin: 0 0 15px;
    display: block;
    width: 100%;
}
.category-list .category-name {
    font-size: 18px;
    font-weight: 700;
}
.category-list .category-count{
    font-size: 15px;
    font-weight: 500;
}